<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button color="danger"></ion-back-button>
        </ion-buttons>
    <ion-title>Membres du groupe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <div text-center class="divtitle">
        
        <h1 class="titleGroupDetail">
          Groupe 1
        </h1>
      </div>
        <ion-list>
            <ion-item>
                <ion-icon slot="start" color="medium" name="person"></ion-icon>
              <ion-label>Ramarimanjaka Francis</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon slot="start" color="medium" name="person"></ion-icon>
              <ion-label>Rafidisoa Frederic</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon slot="start" color="medium" name="person"></ion-icon>
              <ion-label>Solofoson RAbe</ion-label>
            </ion-item>
           
           
          </ion-list>

         


</ion-content>
